.navbar-toggler {
  width: 32px;
  height: 24px;
  box-shadow: none;
  position: relative;
  z-index: 99;
  position: absolute;
  right: 12px; 
  top: 50%; 
  transform: translateY(-50%);
}
.navbar-toggler:focus {box-shadow: none;}
.navbar-toggler::before,
.navbar-toggler::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #000;
}
.navbar-toggler span {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 2px;
  text-indent: 200%;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  background: #000;
}
.navbar-toggler::before {
  -webkit-transform: translate3d(0, -9px, 0) scale3d(1, 1, 1);
  transform: translate3d(0, -9px, 0) scale3d(1, 1, 1);
}
.navbar-toggler::after {
  -webkit-transform: translate3d(0, 9px, 0) scale3d(1, 1, 1);
   transform: translate3d(0, 9px, 0) scale3d(1, 1, 1); 
}
.navbar-toggler[aria-expanded="true"] span {opacity: 0;}
.navbar-toggler[aria-expanded="true"]::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-toggler[aria-expanded="true"]::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.navbar .navbar-nav .nav-link {
	font-size: 16px;
	color: #000;
	padding: 15px 0;
	margin: 0 19px;
}
.navbar .navbar-nav .active .nav-link,
.navbar .navbar-nav .nav-item:hover .nav-link {color: var(--red-one);}


/*----- For Mobile ----*/
@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: calc(100% + 1px);
    background-color: #ffffff;
    left: 0;
    max-height: 80vh;
    overflow-y: auto;
    clear: both;
    width: 100%;
    z-index: 9999;
    transform: scale(1 , 0);
    transform-origin: 100% 0;
    display: block !important;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.show {transform: scale(1); box-shadow: 0 25px 25px rgba(35,35,35,0.1);}
  .navbar .navbar-nav .nav-link {
    font-size: 15px;
    margin: 0;
    padding: 0 15px;
    line-height: 46px;
    border-bottom: 1px solid #efefef;
  }
  .navbar .navbar-nav .nav-item:last-child .nav-link {border: none;}

}
/*(max-width: 991px)*/