
/* CSS Document */

/* 
    Version      : 1.0.
    Developed by : (me@heloshape.com) / (www.me.heloshape.com)
   
*/


/*========================================================================================

*************************** Start Styling Your theme from here ***************************

==========================================================================================*/
/*** 

====================================================================
  Loading Transition
====================================================================

 ***/
.ctn-preloader {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
  background: #fff;
}
/*^^^^^^^^^^^^^^^^^^^^ Scroll Top ^^^^^^^^^^^^^^^^^^^^^*/
.scroll-top {
  width:35px;
  height:35px;
  line-height: 35px;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  background: var(--red-one);
  display: none;
  transition: all 0.3s ease-in-out;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
/*^^^^^^^^^^^^^^^^^^^^ Global Prefix ^^^^^^^^^^^^^^^^^^^^^*/
::-webkit-scrollbar{ width: 5px; }
::-webkit-scrollbar-track { background: #fff;}
::-webkit-scrollbar-thumb { background: #2a2a2a;border-radius: 0;}
:root {
  --text-color   : rgba(0,0,0,0.7);
  --heading      : #1A1A1A;
  --red-one      : #F82155;
  --light-blue   : #F4F8FA;
  --deep-blue    : #EBF6FF;
}
::selection {
  background-color: #2a2a2a;
  color: #fff;
}
body {
  font-family: 'gorditaregular';
  font-weight: normal;
  font-size: 18px;
  position: relative;
  line-height: 2.1em;
  color: var(--text-color);
}
.main-page-wrapper {overflow-x:hidden;}
.h1,h1,.h2,h2,.h3,h3,.h4,h4,.h5,h5,.h6,h6 {font-family: 'Arvo', serif; color: var(--heading); font-weight: normal;}
.h1,h1 {font-size: 72px;}
.h2,h2 {font-size: 52px;}
.h3,h3 {font-size: 36px;}
.h4,h4 {font-size: 24px;}
.h5,h5 {font-size: 20px;}
.h6,h6 {font-size: 15px;}
::-webkit-input-placeholder {color: #AAAAAA;}
:-ms-input-placeholder { color: #AAAAAA;}
::placeholder {color: #AAAAAA;}
/*^^^^^^^^^^^^^^^^^^^^ Prefix Classes ^^^^^^^^^^^^^^^^^^^^^*/
.tran3s,.svg path {transition: all 0.3s ease-in-out;}
.tran4s {transition: all 0.4s ease-in-out;}
.tran5s {transition: all 0.5s ease-in-out;}
.tran6s {transition: all 0.6s ease-in-out;}
.style-none {list-style: none; padding-left: 0; margin-bottom: 0;}
.text-lg {font-size: 20px; line-height: 1.9em;}
.text-xl {font-size: 24px; line-height: 1.9em;}
.text-xl span {color: var(--red-one);}
.cs-screen {position: absolute;}
.shapes {position: absolute; z-index: -1;}
.font-recoleta {font-family: 'Recoleta';}
.light-bg {background-color: #FFFBF9;}
.dark-bg {background-color: #121212;}
.hero-spacing {margin: 135px 65px 0;}
.box-layout {padding-left: 65px; padding-right: 65px;}
.slick-dots {padding-left: 0; margin-bottom: 0;}
.border-bottom {border-bottom: 1px solid #efefef!important;}
.border-top {border-top: 1px solid #efefef!important;}
/*^^^^^^^^^^^^^^^^^^^^ Section Title ^^^^^^^^^^^^^^^^^^^^^^*/
.title-one {
  font-size: 62px;
  line-height: 1.15em;
}
.title-one span {position: relative; display: inline-block;}
.title-one span:before {
  content: '';
  position: absolute;
  width: 96%;
  height: 4px;
  background: var(--red-one);
  left: 0;
  bottom: 4px;
}
.upper-title-one {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AFAFAF;
  margin-bottom: 10px;
}
.title-two {font-size: 24px;}
/*^^^^^^^^^^^^^^^^^^^^^ Theme Button ^^^^^^^^^^^^^^^^^^^^^^*/
body .btn-one {
  font-family: 'gorditamedium';
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #fff;
  line-height: 50px;
  padding: 0 36px;
  border-radius: 30px;
  background: var(--red-one);
  box-shadow: 0px 15px 20px rgba(151, 0, 36, 0.15);
  transition: all 0.3s ease-in-out;
}
body .btn-one:hover {
  background: var(--heading);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.15);
}
body .btn-one.xl {line-height: 60px;}
body .btn-two {
  font-family: 'gorditamedium';
  font-size: 16px;
  color: #fff;
  line-height: 60px;
  padding: 0 40px;
  border-radius: 7px;
  background: var(--red-one);
  box-shadow: 0px 15px 30px rgba(198, 21, 64, 0.19);
  transition: all 0.3s ease-in-out;
}
body .btn-two:hover {
  background: var(--heading);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}
body .btn-two.xl {line-height: 65px;}
body .btn-three {
  font-size: 17px;
  color: #9A9A9A;
  display: inline-block;
  position: relative;
}
body .btn-three:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #484848;
  left: 0;
  bottom: -3px;
}
body .btn-three a {
  font-family: 'gorditamedium';
  color: #000;
  letter-spacing: -0.5px;
}
body .btn-three a i {
  width: 20px;
  height: 15px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: -2px;
  padding-top: 3px;
  background: var(--red-one);
}
body .btn-three a i img {margin: 0 auto;}
body .btn-three a:hover span {text-decoration: underline;}
body .btn-four {
  display: inline-block;
  line-height: 55px;
  border-radius: 30px;
  padding: 0 45px;
  background: #343434;
  font-size: 17px;
  color: #ADADAD;
  transition: all 0.3s ease-in-out;
}
body .btn-four a {
  font-family: 'gorditamedium';
  color: #fff;
}
body .btn-four a img {
  display: inline-block;
  margin: -1px 0 0 2px;
}
body .btn-four:hover {
  background: var(--red-one);
  box-shadow: 0px 15px 40px rgba(151, 0, 36, 0.25);
  color: #fff;
}
body .btn-four:hover a {text-decoration: underline;}
body .btn-five {
  display: inline-block;
  line-height: 51px;
  border: 2px solid #000000;
  border-radius: 30px;
  padding: 0 26px;
  background: #fff;
  font-size: 17px;
  color: #141414;
  transition: all 0.3s ease-in-out;
}
body .btn-five a {
  font-family: 'gorditamedium';
  color: #000;
  transition: all 0.3s ease-in-out;
}
body .btn-five a i {
  width: 22px;
  height: 15px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  vertical-align: -2px;
  margin-left: 10px;
  padding-top: 3px;
  background: var(--red-one);
}
body .btn-five a i img {margin: 0 auto;}
body .btn-five:hover {background: #343434;color: #fff;}
body .btn-five:hover a {text-decoration: underline; color: #fff;}
body .btn-six {
  font-size: 17px;
  color: #fff;
  line-height: 55px;
  text-align: center;
  padding: 0 10px;
  border-radius: 7px;
  letter-spacing: -0.5px;
  max-width: 450px;
  background: var(--red-one);
  box-shadow: 0px 15px 40px rgba(151, 0, 36, 0.25);
  transition: all 0.3s ease-in-out;
}
body .btn-six span {font-family: 'gorditamedium';}
body .btn-six img {display: inline-block; vertical-align: 0px; margin-left: 5px;}
body .btn-six:hover {
  background: var(--heading);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
}
/*^^^^^^^^^^^^^^^^^^^^^^^ Pagination ^^^^^^^^^^^^^^^^^^^^^^*/

/*^^^^^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^^^^^^^^^^*/
.theme-main-menu {
  position: fixed;
  z-index: 99;
  top:0;
  left:0;
  right: 0;
  background: #fff;
  padding: 18px 40px;
}
.theme-main-menu.sticky-menu.fixed {
  z-index: 990;
  padding-top: 0; 
  padding-bottom: 0;
  background: #fff;
  box-shadow: 0 13px 35px -12px rgba(35,35,35,0.1);
}
.theme-main-menu .navbar {position: static;}
.theme-main-menu .language-option .lang-btn {font-size: 16px;color: #000;}
.theme-main-menu .language-option .lang-btn:after {
  content: "\f282";
  margin: 0;
  border: none;
  font-size: 13px;
  margin-left: 2px;
  font-weight: 700;
  font-family: "bootstrap-icons";
  transition: transform 0.3s ease-in-out;
}
.theme-main-menu .language-option .dropdown-menu {
  padding: 10px 15px;
  box-shadow: 0px 20px 80px rgba(0, 30, 57, 0.04);
  border-radius: 5px;
  border: none;
}
.theme-main-menu .language-option .dropdown-menu li a {
  font-size: 16px;
  line-height: 2em;
  color: #000;
}
.theme-main-menu .language-option .dropdown-menu li a:hover {text-decoration: underline;}
.theme-main-menu .right-widget .login-btn {
  width: 50px;
  height: 50px;
  border: 2px solid var(--red-one);
  border-radius: 50%;
  transition: all 0.2s ease-out;
  margin: 0 17px 0 35px;
}
.theme-main-menu .right-widget .login-btn:hover {
  border-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
}
.theme-main-menu .mobile-content {padding: 0 1px 15px;}
.theme-main-menu .mobile-content .login-btn {
  line-height: 46px;
  border: 2px solid var(--red-one);
  font-size: 15px;
  text-align: center;
  padding: 0 15px;
  color: var(--red-one);
  border-radius: 7px;
}
.theme-main-menu .mobile-content .login-btn img {width: 20px; margin-left: 8px;}
.theme-main-menu .mobile-content .btn-two {line-height: 50px; font-size: 15px; text-align: center;}
.theme-main-menu .mobile-content li {width: 50%; margin-top: 5px; padding: 0 7px;}
/*^^^^^^^^^^^^^^^^^^^^^ Hero Banner ^^^^^^^^^^^^^^^^^^^^^^^^*/
.hero-banner {max-width: 1920px; position: relative;}
.hero-banner .offer-text {
  display: inline-block;
  font-size: 16px;
  color: #000;
  border-radius: 20px;
  padding: 0 8px 0 20px;
  line-height: 35px;
  border: 1px solid #ECECEC;
}
.hero-banner .offer-text a {
  width: 30px;
  line-height: 24px;
  border-radius: 20px;
  text-align: center;
  background: var(--red-one);
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}
.hero-banner .offer-text b{font-family: 'gorditamedium'; font-weight: normal;}
.hero-banner .offer-text:hover a {background: #000;}
.hero-banner .hero-heading {
  line-height: 1.26em;
  padding: 10px 0 37px;
}
.hero-banner .hero-heading span {position: relative; display: inline-block;}
.hero-banner .hero-heading span:before {
  content: '';
  position: absolute;
  width: 96%;
  height: 5px;
  background: var(--red-one);
  left: 0;
  bottom: 9px;
  z-index: -1;
}
.hero-banner .help-btn {font-size: 16px; color: #979797; margin-bottom: 0;}
.hero-banner .help-btn a {color: var(--red-one); text-decoration: underline;}
.hero-banner .help-btn a:hover {color: #000;}
.hero-banner .img-holder {
  position: absolute;
  right: 8vw;
  max-width: 40%;
  top: 50%;
  padding: 0 3% 2% 5%;
  transform: translateY(-50%);
}
.hero-banner .img-holder .block-wrapper {
  background: #fff;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  min-height: 85px;
  width: 280px;
  padding: 10px 15px;
  box-shadow: 0px 20px 40px rgba(0, 41, 102, 0.0635431);
}
.hero-banner .img-holder .icon {width: 44px; height: 44px;}
.hero-banner .img-holder .text {
  width: calc(100% - 44px);
  padding-left: 15px;
}
.hero-banner .img-holder .text-lg {color: #000;}
.hero-banner .img-holder .text span {display: block; color: #9F9F9F; margin-top: -12px;}
.hero-banner .img-holder .avatar {margin: 3px 0 15px;}
.hero-banner .img-holder .avatar img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 3px white;
  box-shadow: 0 0 0 3px white;
  position: relative;
}
.hero-banner .img-holder .avatar img:nth-child(n+2) {z-index: 1; margin-left: -10px;}
.hero-banner .img-holder .avatar_fallback {
  font-family: 'gorditamedium';
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #9361FF;
  border:3px solid #fff;
  line-height: 42px;
  color: #fff;
  font-size: 11px;
  z-index: 5;
  margin-left: -10px;
  text-align: center;
}
.hero-banner .img-holder .block-wrapper small {
  display: block;
  font-size: 14px;
  color: #848484;
}
.hero-banner .img-holder .main-wrapper .block-wrapper:nth-child(1) {
  left: 0;
  top: 27%;
  animation: jumpThree 10s infinite linear;
}
.hero-banner .img-holder .main-wrapper .block-wrapper:nth-child(2) {
  right: 0;
  top: 50%;
  animation: jumpTwo 11s infinite linear;
}
.hero-banner .img-holder .main-wrapper .block-wrapper:nth-child(3) {
  left: 0;
  bottom: 0;
  animation: jumpTwo 10s infinite linear;
}
/*^^^^^^^^^^^^^^^^^^^^^ Text Block One ^^^^^^^^^^^^^^^^^^^^^^^^*/
.text-block-one .text-wrapper p {margin-bottom: 38px;}
.text-block-one .block-container {position: relative; z-index: 2;}
.text-block-one .block-container .block-wrapper {
  height: 240px;
  text-align: center;
  padding: 20px 15px;
  background: #FFFFFF;
  box-shadow: 0px 40px 80px rgba(0, 30, 57, 0.04);
  border-radius: 15px;
}
.text-block-one .block-container .rating {
  font-family: 'Arvo', serif;
  font-size: 48px;
  color: #000;
  margin-bottom: 12px;
}
.text-block-one .block-container p {
  color: #000;
  line-height: 29px;
  margin: 0;
}
.text-block-one .block-container .rating-star li {
  font-size: 15px; 
  margin: 0 4px;
  color: #B3B3B3;
}
.text-block-one .block-container .rating-star li .bi-star-fill {color: #FFB043;}
.text-block-one .block-container .info {
  font-size: 16px;
  line-height: 26px;
  color: #979797;
  margin-top: 30px;
}
.text-block-one .block-container .shapes {
  top: 50%;
  left: 50%;
  margin: -40% 0 0 -40%;
  animation: rotated 300s infinite linear;
}
.text-block-one .img-block-container .img-block {
  position: relative;
  margin-bottom: 15px;
}
.text-block-one .img-block-container .name {
  position: absolute;
  min-width: 204px;
  width: 80%;
  height: 90px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 34, 49, 0.08);
  border-radius: 7px;
  padding: 10px 20px;
  z-index: 1;
}
.text-block-one .img-block-container .name h6 {
  font-family: 'gorditamedium';
  font-size: 17px;
  letter-spacing: -0.5px;
}
.text-block-one .img-block-container .name p {
  font-size: 14px;
  line-height: 19px;
  color: #939393;
  margin: 0 0 0;
}
.text-block-one .img-block-container .b1 .name {
  right: -44%;
  top: 26%;
}
.text-block-one .img-block-container .b2 .name {
  left: -32%;
  bottom: 8%;
}
.text-block-one .img-block-container .b3 .name {
  bottom: 15px;
  left: 15px;
  right: 15px;
  width: auto;
}
.text-block-one .list-block-wrapper {
  background: url(../images/assets/bg_01.jpg) no-repeat center;
  background-size: cover;
  border-radius: 20px;
  padding: 50px 35px 22px;
}
.text-block-one .list-block-wrapper li {
  font-size: 18px;
  line-height: 29px;
  color: #000;
  background: #fff;
  padding: 20px 20px 20px 100px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 35px;
}
.text-block-one .list-block-wrapper li:before {
  content: url(../images/icon/icon_06.svg);
  position: absolute;
  width: 45px;
  height: 45px;
  border: 1px solid #E7E7E7;
  border-radius: 50%;
  left: 25px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
/*^^^^^^^^^^^^^^^^^^^^^ Consultation Block ^^^^^^^^^^^^^^^^^^^^^^^^*/
.consultation-block .bg-wrapper {
  background: var(--light-blue);
  border-radius: 20px;
  padding: 0 12px;
}
.consultation-block .text-wrapper {
  border-right: 1px solid #EBEBEB;
  padding: 65px 50px 65px 0;
}
.consultation-block .form-wrapper {
  padding: 50px 0 50px 50px;
}
.form-style-one input {
  display: block;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 0 20px;
  margin-bottom: 25px;
}
/*^^^^^^^^^^^^^^^^^^^^^ Text Block Two ^^^^^^^^^^^^^^^^^^^^^^^^*/
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .1rem rgba(0,0,0, 0.15);
  }
  100% {
    box-shadow: 0 0 0 4rem rgba(0,0,0, 0);
  }
}
.text-block-two .video-block-one .img-holder {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  z-index: 5;
  margin-bottom: 40px;
}
.text-block-two .video-block-one .img-holder:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.text-block-two .video-block-one .video-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 55px;
  padding-left: 5px;
  color: #fff;
  background: var(--red-one);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 2;
  animation: ripple 3s linear infinite;
}
.text-block-two .video-block-one .video-icon::before,
.text-block-two .video-block-one .video-icon::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: 50%;
  animation:inherit;
  animation-delay:1s;
}
.text-block-two .video-block-one .video-icon::after {animation-delay:3s;}
/*^^^^^^^^^^^^^^^^^^^^^ Short Banner Block ^^^^^^^^^^^^^^^^^^^^^^^^*/
.short-banner-block .bg-wrapper {
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 45px 15px;
}
/*^^^^^^^^^^^^^^^^^^^^^ Why Choose Us ^^^^^^^^^^^^^^^^^^^^^^^^*/
.why-choose-us .bg-wrapper {
  background: var(--light-blue);
  border-radius: 30px;
  padding: 100px 15px;
}
.why-choose-us .choose-block {
  padding: 40px 50px 30px 35px;
  box-shadow: 0px 3px 5px rgba(0, 54, 81, 0.03);
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.why-choose-us .choose-block:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 25px rgba(0, 54, 81, 0.03);
}
.why-choose-us .choose-block .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.why-choose-us .choose-block .text {
  width: calc(100% - 55px);
  padding-left: 25px;
}
.why-choose-us .choose-block .text h4 {
  font-family: 'gorditamedium';
  font-size: 24px;
  letter-spacing: -0.5px;
  margin-bottom: 19px;
}
.why-choose-us .choose-block .text p {line-height: 32px;}
/*-------------- Client Feedback Slider ----------------*/
.client-feedback-slider-one .inner-container {
  max-width: 1740px; 
  margin: 0 auto;
  padding: 0 12px;
}
.clientSliderOne {margin: 0 -25px;}
.clientSliderOne .item {margin: 80px 25px;}
.clientSliderOne .feedback-wrapper {
  border: 1px solid #E8EDF0;
  border-radius: 10px;
  background: #fff;
  padding: 44px 50px 48px 49px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.clientSliderOne .feedback-wrapper .ribbon {
  height: 8px;
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
}
.clientSliderOne .slick-center .feedback-wrapper {
  border-color: #fff;
  box-shadow: 0px 35px 60px rgba(14, 29, 45, 0.04);
}
.clientSliderOne .feedback-wrapper p {color: #000;padding-bottom: 45px;}
.clientSliderOne .feedback-wrapper .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.clientSliderOne .feedback-wrapper .name {
  font-family: 'gorditaregular'; 
  font-size: 20px;
  letter-spacing: -0.9px;
  margin-bottom: 0;
}
.clientSliderOne .feedback-wrapper .name span {font-size: 16px; color: #C1C1C1;}
.clientSliderOne .feedback-wrapper .rating-star li {
  font-size: 14px; 
  margin-left: 10px;
  color: #B3B3B3;
}
.clientSliderOne .feedback-wrapper .rating-star li .bi-star-fill {color: #FFB043;}
/*^^^^^^^^^^^^^^^^^^^^^ Footer ^^^^^^^^^^^^^^^^^^^^^^^^*/
.theme-footer .title {
  font-family: 'gorditaregular'; 
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.theme-footer .footer-list a {
  font-size: 17px;
  line-height: 38px;
  letter-spacing: -0.3px;
  color: var(--heading);
  transition: all 0.3s ease-in-out;
}
.theme-footer .footer-list a:hover {text-decoration: underline; color: var(--red-one);}
.theme-footer .newsletter p {
  font-size: 19px; 
  color: var(--heading);
  padding: 5px 0 24px;
  line-height: 30px;
}
.theme-footer .newsletter p span {text-decoration: underline; color: var(--red-one);}
.theme-footer .newsletter form {
  height: 70px;
  position: relative;
  margin-bottom: 12px;
}
.theme-footer .newsletter form input {
  width: 100%;
  height: 100%;
  border: none;
  background: #EEEEEE;
  border-radius: 8px;
  padding: 0 125px 0 20px;
  font-size: 16px;
  color: var(--heading);
}
.theme-footer .newsletter form ::placeholder {color: rgba(0, 0, 0, 0.5);opacity: 1; /* Firefox */}
.theme-footer .newsletter form :-ms-input-placeholder {color: rgba(0, 0, 0, 0.5);}
.theme-footer .newsletter form ::-ms-input-placeholder {color: rgba(0, 0, 0, 0.5);}
.theme-footer .newsletter form button {
  position: absolute;
  font-size: 16px;
  font-family: 'gorditamedium';
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 115px;
  border-radius: 8px;
  background: var(--red-one);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.theme-footer .newsletter form button:hover {background: var(--heading);}
.theme-footer .newsletter .info {
  font-size: 13px;
  color: #979797;
  line-height: 26px;
}
.theme-footer .bottom-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 35px 0 15px;
  margin-top: 45px;
}
.theme-footer .bottom-footer .footer-nav a {
  font-size: 16px;
  color: var(--heading);;
  margin-right: 25px;
}
.theme-footer .bottom-footer .footer-nav a:hover {text-decoration: underline;}
.theme-footer .bottom-footer .copyright {
  font-size: 15px;
  color: #373737;
  margin-bottom: 0;
}
.theme-footer .bottom-footer .social-icon a {
  font-size: 20px;
  margin-left: 20px;
  color: var(--heading);
  transition: all 0.3s ease-in-out;
}
.theme-footer .bottom-footer .social-icon a:hover {color: var(--red-two);}
/*^^^^^^^^^^^^^^^^^^^^^ Pricing Section ^^^^^^^^^^^^^^^^^^^^^^^^*/
.pricing-section .pr-col {
  padding: 0 12px;
  width: 30%;
  margin-top: 40px;
}
.pricing-section .pr-col.xl {width: 40%;}
.pricing-section .pr-col .pr-table-wrapper {border: 1px solid #f1f1f1; border-radius: 15px;}
.pricing-section .pr-table-wrapper {
  height: 100%;
  padding: 16px 30px 45px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.pricing-section .pr-col.xl .pr-table-wrapper:before {
  content: url(../images/assets/tag.png);
  position: absolute;
  top: -83px;
  right: -40px;
}
.pr-table-wrapper .tag {
  line-height: 22px;
  padding: 0 10px;
  background: var(--red-one);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  width: 140px;
  margin: 0 auto; 
  border-radius: 5px;
}
.pr-table-wrapper .trial-text {
  font-size: 15px;
  letter-spacing: -0.3px;
}
.pr-table-wrapper .pr-title {
  font-size: 30px;
  line-height: 1.25em;
  margin-bottom: 16px;
}
.pr-table-wrapper .point-box {
  width: 92px;
  height: 92px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  font-family: 'Arvo', serif;
  font-size: 28px;
  line-height: 88px;
  border-style: solid;
  border-width: 2px;
}
.pr-table-wrapper .point-text {
  font-size: 17px;
  color: #000;
  margin: 14px 0 0;
}
.pr-table-wrapper .point-text span {font-family: 'gorditamedium';}
.pr-table-wrapper .price-holder {
  max-width: 490px;
  min-height: 90px;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.pr-table-wrapper .price-holder .price {
  font-family: 'Arvo', serif;
  font-size: 48px;
  padding-right: 15px;
}
.pr-table-wrapper .price-holder .price sup {font-size:0.5em; top: 8px; vertical-align: top;}
.pr-table-wrapper .price-holder .pack-plan {
  font-size: 22px;
  line-height: 1.1em;
  color: #000;
}
.pr-table-wrapper .price-holder .pack-info {
  font-size: 14px; 
  color: #908383; 
  margin-top: 4px;
  line-height: initial;
}
.pr-table-wrapper .ps1 {
  font-size: 17px; 
  line-height: 30px;
  margin: 25px 0 20px;
}
.pr-table-wrapper .ps1 span {
  font-family: 'gorditamedium';
  color: #000;
}
.pr-table-wrapper .list-1 li {
  font-size: 17px;
  line-height: 27px;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
}
.pr-table-wrapper .list-1 li:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  left: 0;
  top: 13px;
}
.pr-table-wrapper .list-1 li span {font-family: 'gorditamedium'; color: #000;}
.pr-table-wrapper .list-2 li {
  font-size: 14px;
  line-height: 22px;
  position: relative;
  padding-left: 22px;
  margin-bottom: 15px;
}
.pr-table-wrapper .list-2 li:before {
  content: url(../images/icon/icon_11.svg);
  position: absolute;
  left: 0;
  top: 0;
}
.pricing-section .wrapper {
  border: 1px solid #f1f1f1;
  border-radius: 15px;
}
.pricing-section .wrapper .border-right {border-right: 1px solid #f1f1f1;}
.pricing-section .wrapper .pr-table-wrapper {padding: 16px 65px 45px;}
/*^^^^^^^^^^^^^^^^^^^^^ Feature Block Section ^^^^^^^^^^^^^^^^^^^^^^^^*/
.feature-block-section .block-wrapper h4 {
  font-family: 'gorditamedium';
  font-size: 24px;
  margin: 38px 0 26px;
}
.feature-block-section .block-wrapper p {
  font-size: 17px;
  line-height: 33px;
  margin: 0 30px 24px;
}
.feature-block-section .block-wrapper a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}
.feature-block-section .block-wrapper a i {font-size: 12px;}
.feature-block-section .block-wrapper a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #CDCDCD;
  left: 0;
  bottom: 0;
}
.feature-block-section .block-wrapper a:hover {color: var(--red-one)}