@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Open+Sans:wght@300;400;600;700;800&display=swap");

/*Variables*/
:root {
  --default-black: #444444;

  --brand-blue: #0092d2;
  --brand-brown: #6b553d;

  --green: #00d45b;
  --light-blue: #edf5f7;
  --light-brown: #faf7f5;

  --border-blue: #00a0e7;
  --border-brown: #8d7152;

  --title-font: "Cutive", serif;
  --paragraph-font: "Open Sans", sans-serif;
}
:hover {
  transition: all 0.2s ease-in;
}
div,
a {
  transition: all 0.2s ease-in;
}
/*Basic Elements*/
img {
  height: auto;
}
body {
  margin: 0;
}
h1 {
  font: 400 40px/55px var(--title-font);
  text-align: center;
  margin-bottom: 80px;
}
h2 {
  font: 400 35px/45px var(--title-font);
  margin: 0;
  margin-bottom: 25px;
}
h3 {
  font: 600 30px/40px Cutive;
  margin: 0;
}
h4 {
  font: 600 20px/30px Open Sans;
  letter-spacing: 0.3px;
  color: #6d6d6d;
  text-transform: uppercase;
  margin: 0;
}
p {
  font: 600 20px/30px var(--paragraph-font);
  letter-spacing: 0.3px;
  color: var(--default-black);
  margin: 0;
}
a {
  font: 600 20px/30px var(--paragraph-font);
  text-decoration: none;
  color: var(--default-black);
}
a:hover {
  color: var(--green);
}

/******SECTION START: Utilities******/
.txt-blue {
  color: var(--brand-blue);
}
.txt-brown {
  color: var(--brand-brown);
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.section {
  padding: 100px 0px;
  margin: 50px 0px;
}
.section-blue {
  padding: 100px 0px;
  margin: 50px 0px;
  background: var(--light-blue);
}
.section-brown {
  padding: 100px 0px;
  margin: 50px 0px;
  background: var(--light-brown);
}
.container {
  padding: 0px 50px;
  max-width: 1200px;
  margin: auto;
}
/******SECTION END: Utilities******/

/******SECTION START: COMPONENTS******/
/*Buttons */
.btn-primary {
  background: var(--green);
  box-shadow: 0px 5px 15px #00000047;
  /* border: 2px solid var(--border-blue); */
  border-radius: 15px;
  font: 600 25px var(--paragraph-font);
  letter-spacing: 0px;
  color: white;
  padding: 20px 40px;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.btn-primary:hover {
  background: #00e061;
  color: white;
}
.btn-primary:active {
  box-shadow: 0px 4px 6px #00000047;
  transition: all 0.2s ease-in;
  color: white;
}

.btn-primary.brown {
  background: var(--brand-brown);
}

.btn-secondary {
}
.btn-text {
  font: 600 26px/45px var(--paragraph-font);
  padding: 15px 40px;
}
.btn-subtitle {
  font: 600 17px/26px var(--paragraph-font);
  letter-spacing: 0.26px;
  color: var(--default-black);
  margin-top: 10px;
}
/*Image-text-block & Text-image-block*/
.img-text-block {
}
.text-img-block {
}

.img-text-block,
.text-img-block {
  display: flex;
  flex-direction: row;
}
.img-text-block .col,
.text-img-block .col {
  align-items: flex-start;
  justify-content: space-between;
}
.img-text-block img {
  margin-right: 50px;
}
/* .img-text-block h2,
.text-img-block h2 {
  margin-bottom: 30px;
} */
.img-text-block p,
.text-img-block p {
  margin-bottom: 20px;
}
.img-text-block .btn-primary,
.img-text-block .btn-primary-brown,
.text-img-block .btn-primary,
.text-img-block .btn-primary-brown {
  margin-top: auto;
}

.text-img-block .col {
  margin-right: 50px;
}
/*SMALL Image-text-block*/
.small-img-text-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.small-img-text-block img {
  margin-right: 60px;
  align-self: flex-start;
  max-width: 262px;
}
/* .small-img-text-block p {
  margin-top: auto;
} */

/*fact card*/
.fact-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 200px;
  padding: 25px;
  background: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 10px;
  margin-bottom: 30px;
}
.fact-card:hover {
  box-shadow: 0px 4px 6px #00000033;
}
.fact-card > img {
  height: 170px;
  margin-bottom: 30px;
}
.fact-card .title {
  font: 600 25px/30px var(--paragraph-font);
  margin-bottom: 12px;
  color: var(--brand-blue);
}
.fact-card > p {
  margin-bottom: 20px;
}
.text-cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}
.text-cta p {
  margin-right: 10px;
  margin-top: -2px;
}

/*large review block*/
.large-review-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 1%;
  max-width: 275px;
  background: #ffffff;
  border: 3px solid #0092d2;
  border-radius: 10px;
  padding: 20px;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-right: 30px;
}
.large-review-block::before {
  content: "";
  background-image: url("../img/quotes-blue.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 60px;
  height: 62px;
  margin-top: -60px;
  margin-left: -60px;
}
.large-review-block .row {
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
}
.large-review-block .f-small-avatar,
.large-review-block .m-small-avatar {
  margin-right: 10px;
  height: 46px;
}
.large-review-block .student-name {
  margin-top: -3px;
}
.large-review-section .container > .row {
  justify-content: space-between;
  flex-wrap: wrap;
}
.large-review-section h4 {
  text-align: center;
  margin-bottom: 30px;
}
/*small review block*/
.small-review-block {
  width: 30%;
  max-width: 350px;
  min-width: 235px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.small-review-block .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: calc(100% + 25px);
  margin-left: -30px;
  margin-bottom: -20px;
}
.small-review-block > p {
  background: #ffffff;
  border: 3px solid var(--brand-blue);
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.24px;
}
.small-review-block .student-name {
  margin-left: 10px;
}
.stars {
  margin-left: auto;
  margin-top: 5px;
}
.stars img {
  margin-right: 1px;
}
/*selling-points-card*/
.selling-points-card {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 10px #0000001a;
  border-radius: 15px;
  padding: 10px 20px;
  font: 600 16px/20px var(--paragraph-font);
  letter-spacing: 0.24px;
  color: #595959;
}
/*contact form*/
.free-consult-form {
  display: flex;
  flex-direction: column;
}
.free-consult-form input {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font: 600 30px var(--paragraph-font);
  letter-spacing: 0px;
  color: var(--default-black);
  height: 70px;
  padding: 0px 30px;
  margin-bottom: 15px;
}
.free-consult-form input::placeholder {
  font: 600 30px var(--paragraph-font);
  color: #8b8b8b;
}
.financing {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -25px;
}
/*footer*/
.footer-section {
  background: var(--brand-blue);
  color: white;
  margin-bottom: 0;
}
.footer-section .container {
  display: flex;
  flex-direction: row;
}
.footer-section a,
.footer-section p {
  color: white;
  font: 600 20px/33px var(--paragraph-font);
  letter-spacing: 0.3px;
}
.footer-section .footer-content > .row {
  justify-content: space-between;
}
/******SECTION END: COMPONENTS******/

/******SECTION START: Mobile Optimisation******/
@media screen and (max-width: 1200px) {
  /*General*/
  h2 {
    font: 400 25px/35px var(--title-font);
  }
  p {
    font: 600 15px/25px var(--paragraph-font);
  }
  .container {
    padding: 0px 30px;
  }
  /*Buttons*/
  .btn-primary {
    padding: 20px 40px;
  }
  .btn-text {
    font: 600 26px/45px var(--paragraph-font);
    padding: 15px 40px;
  }

  /*Image-text-block & Text-image-block*/
  /* .img-text-block h2,
  .text-img-block h2 {
    font: 400 25px/35px var(--title-font);
  } */
  /* .img-text-block p,
  .text-img-block p {
    font: 600 15px/25px var(--paragraph-font);
  } */
  .img-text-block img,
  .text-img-block img {
    width: 400px;
    align-self: flex-start;
  }
  .img-text-block img {
    margin-right: 30px;
  }
  .text-img-block .col {
    margin-right: 30px;
  }
  .free-consult-form input {
    font: 600 20px var(--paragraph-font);
    height: 50px;
    padding: 0px 20px;
  }
  .free-consult-form input::placeholder {
    font: 600 20px var(--paragraph-font);
    color: #8b8b8b;
  }
}
@media screen and (max-width: 1000px) {
  .section {
    padding: 50px 0px;
  }
  /*btns*/
  .btn-primary {
    padding: 10px 30px;
    font: 600 20px var(--paragraph-font);
  }
  .btn-text {
    padding: 10px 30px;
    font: 600 20px var(--paragraph-font);
  }
  /*small image text block*/
  .small-img-text-block {
    display: block;
    float: left;
  }
  .small-img-text-block img {
    float: left;
    margin: 0px 30px 10px 0px;
  }
  .small-img-text-block .col {
    display: block;
  }
}
@media screen and (max-width: 950px) {
  .large-review-section .container > .row {
    justify-content: center;
  }
  .large-review-section .container > .row .small-review-block {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .new-sat-prep-hero .row {
    /* flex-direction: column-reverse; */
    align-items: center;
  }
  .new-sat-prep-hero .main-img img {
    width: 300px;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font: 400 30px/45px var(--title-font) !important;
  }
  /*Image-text-block & Text-image-block*/
  .img-text-block {
    flex-direction: column;
  }
  .text-img-block {
    flex-direction: column-reverse;
  }
  .img-text-block,
  .text-img-block {
    width: 400px;
    margin: 0px auto;
  }
  .img-text-block img,
  .text-img-block img {
    width: 100%;
    align-self: center;
    margin: 0 0 30px 0;
  }
  .img-text-block .col,
  .text-img-block .col {
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .img-text-block .col h2,
  .text-img-block .col h2 {
    align-self: flex-start;
  }
  .free-consult-section .col {
    text-align: center;
  }
  .free-consult-section h2 {
    align-self: center !important;
  }
  .sat-offer-section .img-text-block,
  .sat-offer-section .text-img-block {
    margin-bottom: 120px;
  }
  .img-text-block .btn-primary,
  .img-text-block .btn-primary-brown,
  .text-img-block .btn-primary,
  .text-img-block .btn-primary-brown {
    margin-top: 30px;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    margin-bottom: 30px;
  }
  /*small image text block*/
  .small-img-text-block {
    display: block;
    float: left;
    text-align: left;
  }
  .small-img-text-block img {
    float: none;
    margin: 0 auto 20px auto;
    display: block;
  }
}
@media screen and (max-width: 550px) {
  /*Image-text-block & Text-image-block*/
  .img-text-block,
  .text-img-block {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .btn-primary {
    padding: 15px 20px;
    font: 600 16px var(--paragraph-font);
  }
}
