.top-announcement {
  text-align: center;
  padding: 10px;
  background: #52c695;
  border-radius: 15px;
  color: white;
  font: 400 21px/30px var(--title-font);
  margin-bottom: 33px;
}
.pricing-table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.table-column-name {
  position: absolute;
  margin-left: -20px;
}
.table-column-name .table-item {
  width: 285px;
  color: var(--default-black);
  padding-left: 20px;
}
.table-column-name .table-item:nth-child(2) {
  border-radius: 10px 0px 0px 0px;
}
.table-column-name .table-item:nth-child(3) {
  border-radius: 0px 0px 0px 10px;
}
.table-column-1,
.table-column-2,
.table-column-3 {
  width: 33%;
  min-width: 210px;
}
.table-column {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.table-column-1 {
  background: rgba(250, 247, 245, 0.45);
  border: 3px solid var(--brand-brown);
  border-radius: 15px;
}
.table-column-2 {
  background: rgba(237, 245, 247, 0.35);
  border: 3px solid var(--brand-blue);
  border-radius: 15px;
}
.table-column-3 {
  background: rgba(237, 245, 247, 0.35);
  border: 3px solid var(--brand-blue);
  border-radius: 15px;
}
.table-column-1 .table-item,
.table-column-2 .table-item,
.table-column-3 .table-item {
  justify-content: center;
  padding: 0px 20px;
}
.table-item {
  display: flex;
  align-items: center;
  font: 600 18px/25px var(--paragraph-font);
  letter-spacing: 0px;
  border-top: 1px solid #e7e7e7;
  height: 66px;
}
.table-column .table-item:nth-child(2),
.table-column .table-item:nth-child(3) {
  background: var(--light-blue);
}

.table-item:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 333px !important;
  border-top: 0;
  margin-top: 45px;
}
.table-item:nth-child(14) {
  border-top: 0;
}
.table-product-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 285px;
}
.product-price {
  text-align: center;
  font: 600 35px/26px var(--paragraph-font);
  letter-spacing: 0.53px;
  color: var(--brand-brown);
}
.table-column-2 .product-price,
.c2 .product-price,
.table-column-3 .product-price,
.c3 .product-price {
  color: var(--brand-blue);
}
.product-name {
  text-align: center;
  font: 600 25px/40px var(--title-font);
  letter-spacing: 0.42px;
  margin-top: 20px;
}
.btn-primary {
  font: 600 20px/33px var(--paragraph-font);
  padding: 12px 25px;
  margin-top: auto;
}
.btn-subtitle {
  color: var(--green);
  margin-top: 10px;
  margin-bottom: 20px;
}
.table-empty {
  width: 20px;
}
.table-empty .table-item {
  min-width: 210px !important;
}
.table-item.extra-year p {
  font: 600 16px/25px var(--paragraph-font);
  letter-spacing: 0px;
  color: var(--border-blue);
}
.table-item.extra-year img {
  margin-right: 10px;
}
.product-popular {
  position: absolute;
  font: 600 16px/24px var(--paragraph-font);
  color: var(--brand-brown);
  letter-spacing: 0.36px;
  background: var(--light-brown);
  border: 3px solid var(--brand-brown);
  padding: 5px 10px;
  margin-top: -67px;
  border-radius: 10px;
}
.pricing-table-section {
  margin-top: 0;
  padding-top: 10px;
}
.pricing-table-section .pricing-title {
  margin-bottom: 30px;
}
.pricing-table-section .pricing-title h1 {
  text-align: right;
  font: 500 49px/70px Cutive;
  letter-spacing: 0px;
  color: var(--brand-blue);
  margin: 0;
}
.pricing-table-section .pricing-title p {
  text-align: right;
}
.table-header {
  margin-top: -110px;
}
.table-header h3 {
  letter-spacing: 0.45px;
  margin-top: 45px;
  font-weight: 400;
}
.pricing-offer-advantage {
  padding-top: 0;
}
.pricing-offer-advantage .row {
  justify-content: space-between;
  flex-wrap: wrap;
}
.complete-premium-section h4,
.complete-premium-section h1 {
  text-align: center;
}
.complete-premium-section .img-text-block p {
  font: 600 25px/35px var(--paragraph-font);
}
.complete-premium-section p span {
  display: inline-block;
  background: var(--default-black);
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-bottom: -2px;
  border-radius: 100%;
}

.sat-act-training-section .col {
  justify-content: center;
}
.sat-act-training-section .btn-primary {
  margin-top: unset;
}
.pricing-contact-section .row a:nth-child(1) {
  margin-right: 20px;
}
.pricing-contact-section .row {
  flex-wrap: nowrap;
}
.pricing-contact-section .col {
  justify-content: center;
}

/*mobile pricing table*/
.product-spec {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1120px) {
  .pricing-offer-advantage .container > .row {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 800px) {
  .top-announcement {
    font: 400 16px/22px var(--title-font);
  }
  .sat-act-training-section .col {
    align-items: center;
    text-align: center;
  }
  .sat-act-training-section .col h2 {
    align-self: center;
  }
  .pricing-contact-section .col p {
    text-align: center;
  }
  .pricing-contact-section .col h2 {
    align-self: center;
    text-align: center;
  }
}

@media screen and (max-width: 1030px) {
  .table-item {
    height: 60px;
    min-width: 20px;
    font: 600 14px/20px var(--paragraph-font);
  }
  .table-item.extra-year p {
    font: 600 14px/18px var(--paragraph-font);
  }
  .table-product-row .table-item img {
    width: 25px;
  }
  .table-product-row .product-name {
    font: 600 24px/32px var(--title-font);
  }
  .table-item:nth-child(1) {
    height: 250px !important;
    margin-top: 35px;
  }
}

/*mobile pricing table styling*/
.pricing-slide-section {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  .pricing-table {
    display: none !important;
  }
  .pricing-slide-section {
    display: unset !important;
  }
  .table-column-1,
  .table-column-2,
  .table-column-3 {
    width: unset;
    min-width: unset;
  }
  .slick-dots {
    position: relative !important;
    bottom: 10px !important;
  }
  .slick-dots li button:before {
    content: "" !important;
    background: var(--brand-blue);
  }
  .slick-dots li:nth-child(1) button:before {
    background: var(--brand-brown);
  }
  .slick-next,
  .slick-prev {
    width: 40px !important;
    height: 250px !important;
    z-index: 9;
  }
  .slick-prev {
    left: 10px !important;
  }
  .slick-next {
    right: 10px !important;
  }
  .slick-prev:before {
    content: "" !important;
    background-image: url("../img/chevron.svg");
    display: block;
    height: 48px;
    background-repeat: no-repeat;
  }
  .slick-next:before {
    content: "" !important;
    background-image: url("../img/chevron.svg");
    transform: rotate(180deg);
    display: block;
    height: 48px;
    background-repeat: no-repeat;
  }
  .pricing-slide .c1,
  .pricing-slide .c2,
  .pricing-slide .c3 {
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .pricing-slide .product-title {
    display: flex;
    flex-direction: column;
    background: var(--light-brown);
    border: 3px solid var(--border-brown);
    border-radius: 15px;
    padding: 5px;
  }
  .pricing-slide .product2-title,
  .pricing-slide .product3-title {
    background: var(--light-blue);
    border: 3px solid var(--border-blue);
  }
  .pricing-slide-spec .product-spec {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .pricing-slide-spec .table-column-name {
    position: relative;
    margin: 0;
  }
  .pricing-slide-spec .table-column-ticks {
    background: none;
    border: none;
    width: 10%;
  }
  .pricing-slide-spec .product-spec {
    background: white;
    border: 3px solid var(--border-brown);
    border-radius: 15px;
    margin: 0px 20px;
  }
  .pricing-slide-spec .product2-spec,
  .pricing-slide-spec .product3-spec {
    border: 3px solid var(--border-blue);
  }
  .pricing-slide-spec .product-spec .table-item {
    height: 60px !important;
    margin: 0;
    flex-direction: row;
  }
  .pricing-slide-spec .table-column-name {
    border: 0;
    width: 90%;
  }
  .pricing-slide-spec .table-column-name .table-item {
    width: unset;
  }
  .pricing-slide-spec .table-column-ticks .table-item {
    justify-content: flex-start !important;
  }
  .pricing-slide-spec .table-column .table-item:nth-child(1),
  .pricing-slide-spec .table-column .table-item:nth-child(2) {
    background: var(--light-blue);
  }
  .pricing-slide-spec .product1-spec .table-column .table-item:nth-child(1),
  .pricing-slide-spec .product1-spec .table-column .table-item:nth-child(2) {
    background: var(--light-brown) !important;
  }
  .pricing-slide-spec .table-column .table-item:nth-child(3) {
    background: white;
  }

  .pricing-slide-spec .table-column-name .table-item:nth-child(1),
  .pricing-slide-spec .table-column-name .table-item:nth-child(2) {
    border-radius: 0;
  }
  .pricing-slide-spec
    .product-spec
    .table-column-name
    .table-item:nth-child(1) {
    border-radius: 12px 0px 0px 0px;
  }
  .pricing-slide-spec
    .product-spec
    .table-column-ticks
    .table-item:nth-child(1) {
    border-radius: 0px 12px 0px 0px;
  }
  .pricing-slide-spec .table-column {
    border: none !important;
  }
  .pricing-slide-spec .extra-year {
    font: 600 15px/25px var(--paragraph-font);
  }
  .product-spec-cta {
    position: absolute;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .pricing-table-section .pricing-title {
    margin-bottom: 10px;
  }
  .pricing-table-section .pricing-title h1 {
    text-align: center;
  }
  .pricing-table-section .pricing-title p {
    text-align: center;
  }
  .table-column-1 .table-item,
  .table-column-2 .table-item,
  .table-column-3 .table-item {
    padding: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 5px !important;
  }
  .product-popular {
    margin-top: -57px;
  }
  .slick-center {
    transform: scale(1.05);
    padding: 10px 0px 10px 0px;
  }
}
@media screen and (max-width: 600px) {
  .pricing-slide-spec .slick-slide img {
    width: 20px;
  }
  .table-column-name .table-item {
    padding: 0px 15px;
  }
  .pricing-slide-spec .extra-year {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .table-column-name .table-item,
  .table-column-name .table-item p,
  .table-column-name .table-item a {
    font: 600 12px/20px var(--paragraph-font);
  }
}
@media screen and (max-width: 450px) {
  .product-name {
    font: 600 22px/30px var(--title-font);
  }
}
