.blog-nav {
	@include listreset;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;

	&__item {
		margin: 10px 0;

		&:not(:last-child) {
			margin-right: 44px;
		}
	}
}