.logos-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&.reversed {
		@include min-w(lg) {
			justify-content: flex-end;
		}

		.logos-list__item {
			@include min-w(lg) {
				padding-right: 0;
				padding-left: 50px;
			}

			@include min-w(xl) {
				padding-left: 100px;
			}
		}
	}

	&__item {
		padding: 30px 50px 30px 0;

		@include min-w(xl) {
			padding-right: 100px;
		}
	}

	&__logo {
		max-height: 95px;
	}
}