.slick-dots {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	left: 0;
	bottom: -45px;

	li {
		width: auto;
		height: auto;
		margin: 3px;

		&.slick-active {
			button {
				background-color: $primary;
			}
		}

		button {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			padding: 0;
			margin: 0;
			border: none;
			background-color: $gray-100;
			transition: background-color 0.3s;

			&:before {
				display: none;
			}
		}
	}
}

.slick-dotted.slick-slider {
	margin-bottom: 42px;
}