.dropdown.lang-switch
	a.dropdown-toggle.lang-switch__link#langSwitch(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') En
	.dropdown-menu.lang-switch__dropdown(aria-labelledby='langSwitch')
		a.dropdown-item.lang-switch__dropdown-item(href='#') En
		a.dropdown-item.lang-switch__dropdown-item(href='#') Fr
		a.dropdown-item.lang-switch__dropdown-item(href='#') De