ul.share-buttons-list
	li.share-buttons-list__item
		a(href="#" class="btn-share facebook")
			i.icon-facebook
	li.share-buttons-list__item
		a(href="#" class="btn-share twitter")
			i.icon-twitter
	li.share-buttons-list__item
		.btn-share-with-count
			a(href="#" class="btn-share-with-count__btn btn-share pinterest")
				i.icon-pinterest
			span.btn-share-with-count__count 160
	li.share-buttons-list__item
		a(href="#" class="btn-share email")
			i.icon-email
	li.share-buttons-list__item
		.btn-share-with-count
			a(href="#" class="btn-share-with-count__btn btn-share plus")
				i.icon-plus
			span.btn-share-with-count__count 160