.menu.js-menu
	.menu__content-wrap
		.menu__content
			.container
				ul.menu-navigation
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") Who We Are
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") How It Works
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") Results
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") Pricing
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") Customer Stories
					li.menu-navigation__item
						a(href="#" class="menu-navigation__link") Instructor-Led Classes